@import "tailwindcss";

:root {
  --background: #ffffff; /* White background */
  --foreground: #171717; /* Dark text for contrast */
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-playfair-display), "Didot", "Didot LT STD", "Bodoni MT", "Bodoni 72", "Bodoni 72 Oldstyle", "Bodoni 72 Smallcaps", "Bodoni MT Black", "Bodoni MT Condensed", "Goudy Old Style", "Palatino", "Palatino Linotype", "Book Antiqua", Georgia, serif;
}
